* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--bg-white);
}

:root {
  --primary-blue: #4E47FF;
  --secondary-blue: rgba(78, 71, 255, 0.1);
  --primary-black: #252432;
  --secondary-black: rgba(37, 36, 50, 0.5);
  --secondary-black-light: rgba(37, 36, 50, 0.3);
  --star-yellow: #FFB805;
  --bg-white: #F5F8FF;
  --white: #FFFFFF;
}

/* Custom Template START from here */
.custom-btn {
  padding: 15px 40px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-btn:hover {
  background-color: var(--star-yellow);
  color: var(--primary-black);
  scale: 1.1;
}

.custom-btn:active {
  border-radius: 0px;
  scale: 1;
}

/* Custom Template END from here */



/* Heading Section START fron here */

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
  height: 150px;
}

.navbar a h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 34px;
}

.navbar a:visited {
  color: var(--primary-blue);
}

.banner h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  margin-bottom: 37px;
}

.banner {
  text-align: center;
  max-width: 900px;
  margin: 20vh auto 0;
}

/* Heading Section END fron here */

/* Action Section START fron here */
.section-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 112px auto;
}

.section-action-discription h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: var(--primary-black);
}

.section-action-discription p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 23px 0;
  color: var(--secondary-black);
}

.section-action img {
  max-width: 403px;
  border-radius: 48px;

}

/* Action Section END fron here */

/* Productive User Section START fron here */
.section-productive_user {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 24px;
  background-color: var(--secondary-blue);
}

.section-productive_user h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
}

.productive-scores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px 0 0;
}

.scroe h6 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 80px;
  color: var(--primary-blue);
}

.scroe p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-black);
}

/* Productive User Section END fron here */

/* Review Section START fron here */

.section-review {
  max-width: 1140px;
  margin: 134px auto;
}

.section-review h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: var(--primary-black);
  margin-bottom: 50px;
}

.review-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.review-card {
  background-color: var(--white);
  padding: 24px;
  width: 100%;
  border-radius: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 3px;
}

.review-card .rating-star {
  margin-bottom: 24px;
}

.review-card h4 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-black);
}

.review-card p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  margin: 8px 0 24px;
  color: var(--primary-black);
}

.review-card .reviewer-details {
  display: flex;
  align-items: center;

}

.review-card .reviewer-details img {
  max-width: 40px;
  border-radius: 50px;
}

.review-card .reviewer-details .reviewer-name {
  margin-left: 12px;
}

.review-card .reviewer-details .reviewer-name h5,
.review-card .reviewer-details .reviewer-name p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  color: var(--secondary-black);
  margin: 0;
  padding: 0;
}

.review-card .reviewer-details .reviewer-name p {
  color: var(--secondary-black-light);
  font-weight: 500;
}

/* Review Section END fron here */

/* Focus Section START fron here */
.section-focus {
  max-width: 1140px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 71px 0;
}

.section-focus h3 {
  color: var(--primary-black);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
}

.section-focus p {
  color: var(--secondary-black);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  margin: 20px 0;
}

.section-focus img {
  max-width: 840px;
  border-radius: 48px;
  margin-top: 20px;
}

/* Focus Section END fron here */